body {

font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; 

font-size: 11pt; 

background-color: #00FFFF; 

color: #000000; 

}

h1 {

color: #000000; 

font-size: 22pt; 

font-family: New Century Schoolbook, TeX Gyre Schola, serif; 

font-weight: normal; 

}

input

{

border: 0px;

background-color:#90EE90;

}

select

{

background-color:#90EE90;

}

p {

text-align: justify; 

margin-left: 60px; 
margin-right: 10px; 
border-left: 1px solid #999; 
border-bottom: 1px solid #999; 
padding-left: 10px; 
padding-bottom: 10px;

}

table {

width: 760px; 

border: 1px solid black; 

margin: auto; 

background-color: #FFF8DC;
}
td {

padding: 10px 0;

text-align: center; 

}

ul {

list-style: none;

margin: 0 auto;

}

a {

text-decoration: none;

font-family: system-ui;

transition: .5s linear;

}

i {

margin-right: 10px;

}

nav {

width: 600px;

margin:0 auto 30px;

text-align: center;

}

.one ul {

padding: 1em 0;

background: #87CEFA

vertical-align:top

}

.one a {

padding: 1em;

line-height: normal;

background: #FFE4E1;

border-right: 1px solid #000000;

display: block;

color: black;

}

.one a:hover {background: #000000;}

.one li {
display: inline-block;

}

body {

background: #00FFFF;

}

.gradient-button {

text-decoration: none;

display: inline-block;

color: black;

padding: 20px 30px;

margin: 10px 20px;

border-radius: 10px;

font-family: Bookman, URW Bookman L, serif;

text-transform: uppercase;

letter-spacing: 2px;

background-image: linear-gradient(to right, #EEE8AA 0%,#F0E68C 51%, #BDB76B 100%);

background-size: 200% auto;

box-shadow: 0 0 20px rgba(0, 0, 0, .1);

transition: .5s;

}

.gradient-button:hover {

background-position: right center;

}